.form {
  text-align: center;

  & > h4 {
    margin-top: 0;
  }

  &Check {
    margin-bottom: 1rem;

    & > label {
      padding-left: 0.5rem;
    }
  }

  &NumberOfProposal {
    margin-bottom: 1rem;

    & > input {
      width: 2rem;
    }

    & > label {
      padding-left: 0.5rem;
    }
  }
}
