.form {
  text-align: center;

  & > h4 {
    margin-top: 0;
  }

  &Check {
    margin-bottom: 1rem;

    & > label {
      padding-left: 0.5rem;
    }
  }

  &NumberOfProposal {
    margin-bottom: 1rem;

    & > input {
      width: 2rem;
    }

    & > label {
      padding-left: 0.5rem;
    }
  }

  &QuestionType {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &Button > button {
      & > svg {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}

.reverse {
  flex-direction: row-reverse;
}
