.container {
    min-width: 10rem;
    max-width: 20rem;
    text-align: center;
}

.proposals {
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.proposals ul {
    list-style: none;
    width: 100%;
    padding: 0;
}
.proposals li {
    margin: 10px 0;
    width: 100%;
}
.qname {
    padding-bottom: 0.75rem;
    text-align: center;
}
.name b {
    font-size: 36px;
    color: #ebb17c;
}

.name .chinese{
    font-family: 'Ma Shan Zheng', cursive;
}

.incorrect {
    border-color: #e76f51 !important;
}
