.question__proposals {
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.question__proposals ul {
    list-style: none;
    width: 100%;
    padding: 0;
}
.question__proposals li {
    margin: 10px 0;
    width: 100%;
}
.question__name {
    padding-bottom: 0.75rem;
    text-align: center;
}
.question__name b {
    font-size: 36px;
    color: #ebb17c;
}

.question__name .chinese{
    font-family: 'Ma Shan Zheng', cursive;
}
