.quizz__container {
    width: 20rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    border-radius: 9px;
    background-color: white;
}

.quizz__back {
    display: none;
}